@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

body {
    background-color: rgb(111, 158, 167);
}

h1, h3 {
    font-family: 'Vidaloka', serif;
    color: rgb(216, 216, 216);
}

p {
    font-family: 'Spartan', sans-serif;
    color: rgb(216, 216, 216);
}

ul, li {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

.container {
    text-align: center;
}

a:link, a:hover, a:visited {
    color: black;
    font-style: italic;
    text-align: center;
}

.box {
    border: black;
    border-style: dashed;
    border-width: 2px;
}

img {
    border-radius: 8px;
}

hr {
    border-color: rgb(78, 78, 78);
}